::-webkit-scrollbar {
    display: none;
}

.category-clicked-page {
    position: relative;
    min-height: calc(100vh - var(--margin) - var(--footer-height));
    padding-top: var(--margin);
    display: flex;
    flex-direction: column;
    padding-bottom: var(--margin);
    background-color: rgb(255, 255, 255);
    background-image: linear-gradient(0deg, rgb(238, 238, 238), rgb(255, 255, 255) 10%);
}

.category-posts {
    width: calc(100vw - 400px);
    /* height: 200vh; */
    /* overflow-y: scroll; */
    margin-left: 100px;
    padding: 20px 10px 20px 10px;
    display: flex;
    flex-direction: column;
}

.category-title {
    align-self: center;
    font-weight: 700;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.category-clicked-trending-container {
    transition: width 50ms ease;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    gap: 20px;
}

.inside-add-container {
    display: none;
}

.category-clicked-related-post-container {
    transition: width 50ms ease;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


/*general post model */

.general-post-model {
    align-self: center;
    width: 90%;
    padding: 10px 10px;
    border-radius: 20px;
    min-height: 150px;
    height: fit-content;
    background-image: linear-gradient(-45deg, rgb(244, 250, 255), rgb(255, 255, 255));
    display: flex;
    align-items: center;
    transition: 350ms;
    cursor: pointer;
    box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.192);
}

.general-post-model:hover {
    background-image: linear-gradient(-225deg, rgb(232, 245, 255), rgb(255, 255, 255));
}

.general-post-model:active {
    box-shadow: inset 0px 3px 5px rgba(0, 0, 0, 0.13);
}

.post-image-holder {
    height: 150px;
    border-radius: 10px;
    overflow: hidden;
    min-width: 150px;
    align-self: flex-start;
    background-color: rgb(245, 245, 245);
}

.post-image-holder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post-details-container {
    width: 100%;
    padding: 0px 40px;
}

.post-main-details {
    margin-bottom: 15px;
}

.post-subject {
    font-size: 18px;
    font-weight: 500;
   
}

.post-author {
    font-size: 15px;
    font-weight: 300;
}

.post-sub-details {
    width: 100%;
    gap: 30px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.like-count,
.dislike-count,
.con-lable {
    font-weight: 300;
    font-size: 13px;
}

.like-dis-con {
    display: flex;
    gap: 25px;
    padding: 0px 20px;
}

.likedefault {
    color: gray;
    font-size: 18px;
    transition: 250ms;
    padding-bottom: 10px;
    pointer-events: none;
}

.like-dis-con i:hover {
    color: var(--color-base);
}

.dis-con i {
    transform: translateY(10%) rotate(6deg);
}

.right-add-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 300px;
    height: 100vh;
    height: calc(100vh - var(--margin));
    right: 0%;
    bottom: 0%;
}

.add-post-right {
    width: 90%;
    height: 400px;
    justify-content: space-around;
    align-items: center;
    display: flex;
    font-weight: 300;
    font-size: 13px;
    background-color: rgba(243, 243, 243, 0.267);
}

@media (max-width: 1250px) {
    .right-add-section {
        width: 280px;
    }
    .category-posts {
        margin-left: 80px;
        width: calc(100vw - 360px);
    }
    .post-details-container {
        font-size: 15px;
    }
}

@media (max-width: 1100px) {
    .right-add-section {
        width: 260px;
    }
    .category-posts {
        margin-left: 80px;
        width: calc(100vw - 340px);
    }
    .post-details-container {
        font-size: 15px;
    }
}

@media (max-width: 900px) {
    .right-add-section {
        display: none;
    }
    .category-posts {
        width: 100%;
        height: 200vh;
        margin-left: 0px;
        padding: 80px 0px 20px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .category-clicked-trending-container {
        margin-bottom: 0px;
        width: 100vw;
        align-items: center;
        margin-left: 0%;
    }
    .inside-add-container {
        display: block;
        width: 90%;
        padding: 40px 0px;
        margin: 50px 0px;
        background-color: rgba(238, 238, 238, 0.185);
        text-align: center;
        font-weight: 300;
        font-size: 13px;
    }
    .category-clicked-related-post-container {
        width: 100vw;
        align-items: center;
        margin-left: 0%;
    }
}